*{
    margin: 0;
    padding: 0;
}
/* 版心 */
.w{
    width: 1200px;
    margin: auto;
}
body{
    background-color: #f3f5f7;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    height: 42px;
    /* 此處會層疊 */
    margin: 30px auto;
}
.logo{
    float: left;
    width: 198px;
    height: 42px;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
    margin: 0 15px;
}
.nav ul li a{
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}
.nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
/* 搜索模塊 */
.search{
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}
.search input{
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button{
    float: left;
    width: 50px;
    height: 42px;
    /* 按鈕默認有個邊框需要手動去掉 */
    border: 0;
    background: url(/學成在線/images/btn.png);
}
.user{
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}
.user img{
    /* 圖片和文字垂直居中對齊 */
    vertical-align: middle;
}
/* banner區域 */
.banner{
    height: 421px;
    background-color: #1c036c;
}
.banner .w{
    height: 421px;
    background: url(/學成在線/images/banner2.png) no-repeat top center;
}
.subnav{
    float: left;
    height: 421px;
    width: 190px;
    background-color: rgba(0, 0, 0, .3);
}
.subnav ul li{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.subnav ul li a{
    font-size: 14px;
    color: #fff;
}
.subnav ul li a::after{
    content: ">";
    float: right;
}
.subnav ul li a:hover{
    color: #00a4ff;
    border-bottom: 1px solid #00a4ff;
}
.course{
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮動的盒子不會有外邊距合併問題 */
    margin-top: 50px;
}
.course h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.course .bd{
    padding: 0 20px;
}
.course .bd ul li{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.course .bd ul li:last-child{
    border-bottom: 0;
}
.course .bd ul li a h4{
    font-size: 16px;
    color: #4e4e4e;
}
.course .bd ul li a p{
    font-size: 12px;
    color: #a5a5a5;
}
.course .bd>a{
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}
.course .bd>a:hover{
    background-color: #99d4f8;
}
/* 精品推薦模塊 */
.goods{
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    /* 行高會繼承給孩子 */
    line-height: 60px;
}
.goods h3{
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods ul{
    float: left;
    margin-left: 30px;
}
.goods ul li{
    float: left;
}
.goods ul li a{
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}
.goods ul li a:hover{
    background-color: #99d4f8;
}
.mod{
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.box{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box .box-hd{
    height: 45px;
}
.box .box-hd h3{
    float: left;
    font-size: 20px;
    color: #494949;
}
.box .box-hd a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd ul li{
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 14px;
    margin-top: 15px;
}
/* 每五個的第五個不要margin-right */
.box-bd ul li:nth-child(5n){
    margin-right: 0;
}
.box-bd ul li > img{
    width: 100%;
}
.box-bd ul li em > img{
    position: absolute;
    top: 4px;
    right: -4px;
}
.box-bd ul li h4{
    margin: 20px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.box-bd .info{
    margin: 0 20px 0 20px;
}
.box-bd .info span{
    color: #ff7c2d;
}
.box-bd .info i{
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #999999;
    margin: 0 8px 2px;
}
/* footer模塊 */
.footer{
    height: 200px;
    background-color: #fff;
}
.footer .w{
    /* 裡面沒浮動，用margin會崩潰 */
    padding-top: 30px;
}
.copyright{
    float: left;
}
.copyright p{
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}
.copyright .app{
    display: block;
    width: 118px;
    height: 33px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
}
.copyright .app:hover{
    background-color: #99d4f8;
}
.links{
    float: right;
}
.links dl{
    float: left;
    margin-left: 100px;
}
.links dl dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.links dl dd a{
    color: #333;
    font-size: 12px;
}